//! Layout
// Various layout classes
// 
// Page layouts
// Key Value table
// Simple table
// Featured / Bullet entries
// Cards

.card-grid{
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	&.center{
		justify-content: center;
	}

	&.horizontal-scroll{
		flex-wrap: nowrap;
		overflow-y: auto;
		justify-content: flex-start;

		.card{
			min-width: 300px;

			&:first-child{
				margin-left: 8vw;
			}
			&:last-child{
				margin-right: 100px;
			}
		}
	}

	@media (max-width: $screenSM) {
		gap: 15px
	}

	.card{
		display: flex;
		flex-direction: column;
		flex-basis: 300px;
		border-radius: var(--borderRadius);
		// box-shadow: var(--shadow);
		color: var(--text);
		background-color: var(--layer);
		border: 1px solid var(--borderFade);

		@media (max-width: $screenSM) {
			flex-basis: 100%;
		}

		&.inactive{
			color: var(--textFade);

			.card-main b,
			.card-body p{
				color: var(--textFade);
			}
			.card-main .card-icon{
				background-color: transparent;
				color: var(--textFade);
			}
			.tag{
				opacity: 0.5;
			}
		}

		.card-main{
			box-sizing: border-box;
			display: flex;
			padding: 12px 12px 12px 12px;

			@media (max-width: $screenSM) {
				padding: 12px 12px 12px 12px;
			}

			.card-icon{
				width: 50px;
				height: 50px;
				background-color: var(--grey);
				border-radius: var(--borderRadius);
				font-size: 28px;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			b{
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-grow: 3;
				font-size: 16px;
				font-weight: 600;
				box-sizing: border-box;
				padding-left: 12px;
			}
			.card-input{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
		.card-body{
			box-sizing: border-box;
			padding: 0 12px 12px 12px;
			flex-grow: 3;
			text-align: left;

			p{
				margin: 0;
				padding: 0;
				line-height: 20px;
				font-size: 14px;
			}
		}
		// Footer
		.card-footer{
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 0 12px 12px 12px;

			.card-tags{
				display: flex;
				gap: 10px;
				text-transform: capitalize;

				.tag{
					&.system{background-color: var(--grey); color: var(--greyText);}
					&.productivity{background-color: var(--yellow); color: var(--yellowText);}
					&.home{background-color: var(--purple); color: var(--purpleText)}
					&.health{background-color: var(--pink); color: var(--pinkText)}
				}
			}
			.card-actions{
				flex-grow: 3;
				display: flex;
				justify-content: flex-end;
				gap: 8px;
				
				.card-action-button{
					height: 20px;
					line-height: 20px;
					font-size: 18px;
					color: var(--text);
					opacity: 0.2;
					transition: var(--transition);

					&:hover,
					&:focus{
						opacity: 1;
					}

					&.active{
						color: var(--blue);
						opacity: 1;
					}
				}
			}
		}

		// Hover Card
		&:hover{
			*{
				text-decoration: none;
			}
			.card-main b{
				text-decoration: underline;
			}
		}
	}
}


// Padding for page content  
.padded{
	box-sizing: border-box;
	padding: 0 var(--sidePadding) 0 var(--sidePadding);
}

// Narrow page 
// Documents - Privacy Policy, Terms, Etc
// max-width of 1100px. Centered margin,
.narrow-page{
	box-sizing: border-box;
	padding: 25px var(--sidePadding) 25px var(--sidePadding);
	min-height: 70vh;
	max-width: 1100px;
	margin: 0 auto;
	
	@media (max-width: $screenSM) {
		max-width: unset;
		width: 100%;
		margin: 0 auto;
	}
}

