//! Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
h2 {
  font-size: 3.228rem;
  line-height: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 0.9rem;
  font-weight: 700;
}
h3 {
  font-size: 2.214rem;
  margin-bottom: 0.8rem;
  line-height: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.407rem;
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
}
h5 {
  font-size: 1.01333333rem;
  margin-bottom: 0.6rem;
}
h6 {
  font-size: 0.79rem;
  margin-bottom: 0.5rem;
}


//   Text Elements 
// Paragraphs
p,
.paragraph{
	font-size: 15px;
	line-height: 26px;
	max-width: 700px;
	padding: 12px 0;
	color: var(--text);
	font-weight: 400;
	// Mobile changes
	@media (max-width: $screenSM) {
		font-size: 14.5px;
	}
	@media (max-width: $screenSM) {
		font-size: 14px;
		line-height: 24px;
	}

	// Decrease sizing
	&.smaller{
		font-size: 12px;
		line-height: 18px;
	}

	// Decrease sizing
	&.small{
		font-size: 13.5px;
		line-height: 22px;
		// Mobile changes
		@media (max-width: $screenSM) {
			font-size: 13px;
			line-height: 20px;
		}
	}
	// Increase sizing
	&.big{
		font-size: 20px;
		line-height: 36px;
		// Mobile changes
		@media (max-width: $screenSM) {
			font-size: 17px;
			line-height: 26px;
		}
	}

	&.tight{
		line-height: unset;
	}
	
	// Bold
	b{
		font-weight: 700;
	}

	&.no-padding{
		padding-top: 0;
		padding-bottom: 0;
	}
}
// Emphasis
em,
.italic{
	font-style: italic;
}

// Links
a{
	color: var(--text);
	transition: var(--transition);
	letter-spacing: -0.1px;
	font-weight: bold;
	text-decoration: none;
	
	&:hover{
		cursor: pointer;
		transition: var(--transition);
		outline-color: transparent;
		text-decoration: underline;
	}
	&.small{
		font-size: 13px;
		font-weight: 500;
	}
	&.tiny{
		font-size: 11px;
		font-weight: 500;
	}
	&.no-color:hover{
		color: inherit;
	}
	&.no-underline:hover{
		text-decoration: none;
	}

	&.underline{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}

	&.fade{
		opacity: 0.6;
	}
}


// Lists
ul,
ol{
	display: block;
	box-sizing: border-box;
	padding: 6px 0 6px 25px;

	li{
		line-height: 140%;
		padding: 2px 0;
	}
}
ol{
	list-style-type: decimal;
}
ul{
	list-style-type: disc;
}



//   Modifiers

.text-small{
	font-size: 11px;
}
.text-smaller{
	font-size: 75% !important;
}
.text-medium{
	font-size: 14px;
}
.text-large{
	font-size: 16px;
}
.text-larger{
	font-size: 20px;
}
.text-light{
	font-weight: 400;
	color: var(--textFade);
}
.text-fade{
	color: var(--textFade);
}
.text-bright{
	color: var(--text);
}
// Colored Text
.text-primary{
	color: var(--blue);
}
.text-red{
	color: var(--red);
}
.text-blue{
	color: var(--blue);
}
.text-green{
	color: var(--greenDark);
}
.text-yellow{
	color: var(--yellowDark);
}
.text-orange{
	color: var(--orange);
}
.text-purple{
	color: var(--purple);
}
.text-pink{
	color: var(--pink);
}
.text-grey{
	color: var(--greyDark);
}


// Horizontal Rule
hr{
	border: none;
	border-top: 1px solid;
	border-color: var(--borderFade);
	height: 1px;
	overflow: hidden;
	margin: 8px auto;
	
	&.page-end{
		max-width: 100px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		height: 8px;
		background-color: var(--grey);
		border-radius: 4px;
	}
}

// Small
small{
	font-size: 85%;
	line-height: 120%;
}

// Code & Pre
code{
	width: fit-content;
	background-color: var(--greyLight);
	font-family: var(--monospace);
	font-size: 12px;
	box-sizing: border-box;
	padding: 4px;
	background-color: var(--grey);
	border-radius: calc(var(--borderRadius) / 2);

	b{
		font-weight: 700;
	}
	i{
		font-style: italic;
	}

	&.full-width{
		width: 100%;
	}
}
pre{
	max-width: 80vw;
	overflow: auto;
	display: block;
	scrollbar-width: none;
	// Hidden
	&::-webkit-scrollbar{
		width: 0px;
		display: none;
	}
	// Scrollbar handle/thumb
	&::-webkit-scrollbar-thumb{
		display: none;
		width: 0px;
	}
}