//! UI Elements
// Styles for misc global UI elements
// 
// Badges
// Breadcrumbs
// Tooltips
// Page Footer


// Tag
.tag{
	background-color: var(--blue);
	color: var(--blueText);
	font-size: 11px;
	padding: 0 7px;
	height: 20px;
	line-height: 20px;
	font-weight: 600;
	border-radius: var(--borderRadius);
	white-space: nowrap;

	i:first-child{
		margin-right: 4px;
	}
	i:last-child{
		margin-left: 4px;
	}

	&.big{
		height: 24px;
		line-height: 22px;
		padding: 0 10px;
		font-size: 12px;
		border-radius: calc(var(--borderRadius) * 2);
	}

	&.red{
		background-color: var(--red);
		color: var(--redText);
	}
	&.orange{
		background-color: var(--orange);
		color: var(--orangeText);
	}
	&.yellow{
		background-color: var(--yellow);
		color: var(--yellowText);
	}
	&.green{
		background-color: var(--green);
		color: var(--greenText);
	}
	&.blue{
		background-color: var(--blue);
		color: var(--blueText);
	}
	&.sky{
		background-color: var(--sky);
		color: var(--skyText);
	}
	&.pink{
		background-color: var(--pink);
		color: var(--pinkText);
	}
	&.purple{
		background-color: var(--purple);
		color: var(--purpleText);
	}
	&.grey{
		background-color: var(--grey);
		color: var(--greyText);
	}

}


// Breadcrumbs
.breadcrumbs{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: flex-start;
	flex-wrap: wrap;

	@media (max-width: $screenSM) {
		// flex-wrap: nowrap;
		// overflow: auto;
	}

	// Hide scrollbars
	// Hidden
	&::-webkit-scrollbar{
		width: 0px;
		display: none;
	}
	// Scrollbar handle/thumb
	&::-webkit-scrollbar-thumb{
		display: none;
		width: 0px;
	}

	.crumb{
		display: flex;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.35px;
		color: var(--textFade);
		transition: var(--transition);
		text-transform: capitalize;
		width: fit-content;

		// Shrink on mobile
		@media (max-width: $screenSM) {
			margin-bottom: 6px;
		}
		@media (max-width: $screenSM) {
			font-size: 13px;
			text-align: center;
		}

		span{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 8px;
			white-space: pre;
			text-transform: capitalize;
		}

		// Add arrow before each child
		&:before{
			content: '\f30b';
			font-family: var(--fontAwesome);
			display: block;
			padding: 0px 8px 0 0;
			color: var(--textFadeest);
			position: relative;
			top: 1px;
			font-weight: 500;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		// Remove arrow before first child
		&:first-child{
			&:before{
				display: none;
			}
		}

		// Hover
		&:hover{
			text-decoration: none;
			color: var(--textFade);
			transition: var(--transition);
			cursor: pointer;

			span{
			}
		}

		// Highlight last (current) crumb
		&.active{
			color: var(--text);
		}

	}

	&.no-hover .crumb:hover{
		cursor: default;
	}
}


// Changelog/Feature block
.changelog-block{
	display: flex;
	flex-wrap: wrap;
	padding: 45px 0 0 0;


	.changelog-date{
		width: 30%;
		min-width: 200px;
		font-size: 16px;
		font-weight: 600;
		padding: 5px 0 15px 0;
		box-sizing: border-box;
		color: var(--primary);

		@media (max-width: $screenSM) {
			width: 100%;
		}
	}

	.changelog-body{
		flex-grow: 3;

		.changelog-ul{
			font-size: 18px;
			li{
				margin: 4px 0;
			}
		}
	}
}



// Shadow and hover stuff
// Shadow and hover stuff
// Box shadow
.box-shadow{
	box-shadow: var(--shadow);

	&.hoverable:hover{
		box-shadow: var(--shadow-Hover);
	}
}
.hover-shadow{
	box-shadow: var(--shadow);

	&:hover{
		cursor: pointer;
		box-shadow: var(--shadow-Hover);
		transform: scale(1.015);
	}
}

// Thicker shadow normally, hover shrink
.reverse-hover-shadow{
	box-shadow: var(--shadow-Hover);

	&:hover{
		cursor: pointer;
		box-shadow: var(--shadow);
		transform: scale(0.98);
	}
}



